<footer class="page-footer">   
        <div class="footer-copyright">
        <div class="container">
        © 2020 All copyrights reserved
        <a class="grey-text text-lighten-4 right" href="#!">Bksh.js</a>
        </div>
        </div>
    </footer>