<%= render partial: 'frameworks' %>

<nav>
<ul class="navbar right">
<li>
<a href="#">Okay</a>
</li>
<li>
<a href="#">Okay</a>
</li>
<li>
<a href="#">Okay</a>
</li>
</ul>
</nav>

<h1>Articles</h1>
<ul id="articles">
<%@articles.each do |article| %>
<li>
<%= link_to article.title, article_path(article), class: "article_title" %>
</li>
<%end%>
</ul>

<%= link_to  "New Article", new_article_path, class: "new_article" %>
